################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IdentityService/.vs/IdentityService
/IdentityService/bin/Debug/net6.0
/IdentityService/obj
/IdentityService/IdentityService.csproj.user
